html {
  background-color: rgba(20, 20, 85, 0.918);
  font-family: 'Kalam', cursive;
}

/* Styling for header id game-banner  */
#game-banner {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: black;
  padding: 5px;
  font-size: 50px;
  background-color: rgba(233, 233, 96, 0.695);
  background-image: url(../img/wario-hat.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid rgba(233, 233, 96, 0.75);
  border-radius: 50px;
}

.game-banner-first-name {
  font-size: 85px;
  letter-spacing: 7px;
  color: rgb(97,92,255);
  padding-left: 90px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-text-stroke: 0.3px black;
}

.game-banner-last-name {
  font-size: 85px;
  letter-spacing: 7px;
  color: rgb(97,92,255);
  padding-left: 200px;
  -webkit-text-stroke: 0.3px black;
}

/* class container display properties */
#main-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* left aside style properties */
#side-info-left {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 260px;
  margin-top: 35px;
}

#game-title-banner {
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  background-color: rgba(233, 233, 96, 0.85);
  line-height: 1;
  width: 120%;
  height: 100px;
  padding-left: 25px;
  padding-top: 15px;
  margin-top: 15px;
  z-index: 1;
}

.game-title {
  color: rgb(79, 73, 255);
  font-weight: bold;
  font-family: 'Kalam', cursive;
  font-size: 36px;
  text-align: space-word;
  -webkit-text-stroke: 1px rgba(233, 233, 96);
}

.game-title-center {
  text-align: center;
}

#game-description-section {
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  background-color: rgba(20, 20, 85, 1);
  width: 265px;
  padding-top: 40px;
  margin-top: -25px;
}

.game-description-content {
  text-align: center;
  padding: 10px;
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.status {
  font-family: 'Roboto mono', monospace; 
  margin-top: 30px;
  padding: 10px;
}

.version {
  font-family: 'Roboto mono', monospace; 
  text-align: left;
  padding: 5px;
}

/* Volume section properties */
#volume-section {
  width: 65%;
  height: 160px;
  background-color: rgba(20, 20, 85, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 35%;
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
}

.volume-title {
  color: rgb(79, 73, 255);
  background-color: rgba(233, 233, 96, 0.85);
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 12px;
  height: 55px;
  width: 140%;
  margin-left: -20%;
  margin-top: -50%;
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  -webkit-text-stroke: 1px rgba(233, 233, 96);
}

#volume-button {
  display: block;
  cursor: pointer;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 60%;
  margin: 0 auto;
  margin-top: -30px;
  background: none;
  border: none;
}

#mute-button {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 60%;
  margin: 0 auto;
  margin-top: -30px;
  background: none;
  border: none;
}

.mute-img {
  width: 60px;
  margin-left: 15px;
  padding-top: 15px;
}

/* fake canvases for intro messages  */
#intro-screen {
  display: block;
}
#intro-screen2 {
  display: none;
}
#intro-screen3 {
  display: none;
}

.introscreen {
  z-index: 100;
  margin-top: -22px;
  margin-left: 4px;
  height: 820px;
  width: 1210px;
  background-color: rgb(0, 0, 0, 0.97);
  position: absolute;
  top: 14%;
  left: 18.28%;
  border: 5px solid rgb(245, 245, 245, 0.7);
  border-radius: 10px;
}

.point-bottom-left {
  height: 250px;
  margin-left: 50px;
  margin-top: -40px;
}

.point-bottom-right {
  height: 250px;
  float: right;
  margin-top: -50px;
  margin-right: 50px;
}

.point-top-right {
  float: right;
  height: 250px;
  margin-top: 60px;
  margin-right: 60px;
}

.intro-desc1 {
  color: white;
  margin-top: 50px;
  margin-left: 55px;
  font-size: 55px;
}

.intro-desc2 {
  color: white;
  text-align: right;
  margin-top: 310px;
  margin-right: 100px;
  font-size: 55px;
}

.intro-desc3 {
  color: white;
  text-align: right;
  margin-top: 440px;
  margin-right: 100px;
  font-size: 55px;
}

.continue {
  color: white;
  position: absolute;
  font-size: 48px;
  left: 28%;
  bottom: 60px;
}

.start {
  color: white;
  position: absolute;
  font-size: 48px;
  left: 30%;
  top: 140px;
}


/* The canvas rendering the game Super Wario */
#game-window {
  image-rendering: pixelated;
  display: flex;
  outline: rgba(245, 245, 245, 0.795) 3px solid;
  background-color: #33C3FF;
  width: 1200px;
  height: 800px;
  margin-top: -20px;
}


/* Right aside style properties  */
.side-info-right {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  font-family: 'Kalam', cursive;
  margin: 0 auto;
  margin-top: 130px;
  height: 625px;
  width: 260px;
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 285px;
  padding: 0px;
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  background-color: rgba(20, 20, 85, 0.918);
}

.game-controls-banner {
  margin-top: -80px !important;
}

.game-controls-title {
  color: rgb(97,92,255);
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(233, 233, 96, 0.85);
  width: 100%;
  height: 90px;
  font-size: 35px;
  padding-top: 20px;
  -webkit-text-stroke: 1px rgba(233, 233, 96);
}

.game-controls-info-title {
  font-size: 25px;
  padding-top: 20px;
}

.game-controls-info {
  width: 90%;
  font-size: 18px;
  list-style-type: square;
  margin-left: -16px;
  margin-top: 0px;
}

.game-controls-info li {
  margin-top: 15px;
}

.center-divider {
  margin-top: 15px;
  margin-left: 60px;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  background-color: rgba(20, 20, 85, 0.918);
  height: 230px;
  width: 80%;
  margin-left: 7%;
}

.creator-banner {
  border: 3px solid rgba(233, 233, 96, 0.85);
  border-radius: 10px;
  width: 130%;
  height: 55px;
  margin-left: -15%;
  margin-top: -28%;
  background-color: rgba(233, 233, 96, 0.90);
}

.creator-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  color: rgb(97,92,255);
  -webkit-text-stroke: 1px rgba(233, 233, 96);
}

.info {
  padding: 5px;
  text-align: center;
  margin-top: 5px;
}

.links-title {
  font-size: 22px;
  margin-left: 10px;
  text-decoration: underline;
}

.shortcut-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  padding-bottom: 10px;
}

/* icons  */
.ico {
  height: 50px;
  padding-right: 3px;
  padding-top: 5px;
}

.ico2 {
  height: 48px;
  padding-top: 7px;
}

.fb-ico {
  height: 57px;
}
