html {
  background-color: rgba(20, 20, 85, 0.918);
  font-family: 'Roboto Mono', monospace;
}

.game-name {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: black;
  padding: 5px;
  font-size: 50px;
  background-color: rgba(233, 233, 96, 0.795);
  background-image: url(../img/wario-hat.png);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid rgba(245, 245, 245, 0.795);
}

.game-first-name {
  font-size: 85px;
  letter-spacing: 7px;
  color: rgb(97,92,255);
  padding-left: 90px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-text-stroke: 2px black;
}

.game-last-name {
  font-size: 85px;
  letter-spacing: 7px;
  color: rgb(97,92,255);
  padding-left: 200px;
  -webkit-text-stroke: 2px black;
}

/* class container display properties */
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* left side style properties */
.side-info-left {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 520px;
  padding: 0px;
  border: 3px solid rgba(245, 245, 245, 0.795);
  margin-top: 120px;
  margin-left: 40px;
}

.game-title-banner {
  border: 3px solid rgba(245, 245, 245, 0.795);
  width: 300px;
  margin-top: -75px;
}

.game-desc-title {
  color: rgb(97,92,255);
  font-weight: bold;
  font-family: 'Kalam', cursive;
  background-color: rgba(233, 233, 96, 0.795);
  font-size: 32px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-stroke: 0.5px white;
}

.game-desc {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.status {
  margin-top:160px;
  padding: 10px;
}

/* right side style properties  */
.side-info-right {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  font-family: 'Kalam', cursive;
  height: 700px;
}

.game-controls-banner {
  border: 3px solid rgba(245, 245, 245, 0.795);
  width: 300px;
  margin-top: -80px;
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px;
  padding: 0px;
  border: 3px solid rgba(245, 245, 245, 0.795);
  margin-top: 115px;
  margin-right: 60px;
}

.game-control-title {
  color: rgb(97,92,255);
  font-weight: bold;
  text-align: center;
  background-color: rgba(233, 233, 96, 0.795);
  width: 100%;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-stroke: 0.5px white;
}

.horiz-desc {
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

.vert-desc {
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid rgba(245, 245, 245, 0.795);
  /* margin-right: 60px; */
  height: 250px;
  width: 250px;
}

.creator-banner {
  border: 3px solid rgba(245, 245, 245, 0.795);
  width: 300px;
  position: absolute;
  top: 605px;
  right: -15px;
  margin-right: 50px;
  margin-top: -80px;
}

.creator-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(97,92,255);
  background-color: rgba(233, 233, 96, 0.795);
  -webkit-text-stroke: 0.5px white;
}

.info {
  padding: 5px;
  padding-top: 45px;
  text-align: center;
}

.links-title {
  font-size: 24px;
  padding-left: 15px;
  text-decoration: underline;
}

.shortcut-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  padding-bottom: 10px;
}

#game-window {
  image-rendering: pixelated;
  display: flex;
  outline: rgba(245, 245, 245, 0.795) 3px solid;
  background-color: #33C3FF;
  width: 1200px;
  height: 800px;
  margin-top: 50px;
  position: absolute;
  top: 75px;
  left: 18.7%;
}

.gg-canvas {
  display: none;
  position: absolute;
  width: 1200px;
  height: 800px;
  top: 125px;
  left: 18.7%;
  background-color: rgb(0, 0, 0, 0.7);
}

/* icons  */
.ico {
  height: 60px;
  padding-right: 3px;
  padding-top: 5px;
}

.fb-ico {
  height: 65px;
}

.ico2 {
  height: 56px;
  padding-top: 8px;
}

.facebook-ico {
  padding-top: 0px;
}

/* game over display message */
.gg-msg {
  text-align: center;
  width: 500px;
  height: 300px;
  font-family: 'Roboto Mono', monospace;
  border: 5px solid rgba(245, 245, 245, 0.795);
  background-color: rgba(35, 35, 92, 0.781);
  display: none;
  padding: 50px;
  top: 39%;
  left: 37.5%;
  position: absolute;
  z-index: 999;
}

.gg-text {
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
}

.gg-button {
  align-self: center;
  color: white;
  background-color: rgba(35, 35, 92);
  border: 2px solid rgba(245, 245, 245, 0.795);
  padding: 20px;
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

/* level won display message */
.victory-canvas {
  display: none;
  position: absolute;
  width: 1200px;
  height: 800px;
  top: 125px;
  left: 18.7%;
  background-color: rgb(0, 0, 0, 0.7);
}

.victory-msg {
  text-align: center;
  width: 600px;
  height: 450px;
  font-family: 'Roboto Mono', monospace;
  border: 5px solid rgba(245, 245, 245, 0.795);
  background-color: rgba(35, 35, 92, 0.781);
  display: none;
  padding: 25px;
  top: 30%;
  left: 37.5%;
  position: absolute;
  z-index: 999;
}

.email-label {
  color: white;
  font-size: 36px;
  padding: 5px;
}

.victory-text {
  padding-top: 30px;
  color: white;
  font-size: 34px;
  line-height: 1.7;
}

.victory-button {
  position: absolute;
  color: white;
  background-color: rgb(36, 36, 87);
  border: 2px solid rgba(245, 245, 245, 0.795);
  left: 350px;
  bottom: 40px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
}

.send-button {
  position: absolute;
  color: white;
  background-color: rgb(36, 36, 87);
  border: 2px solid rgba(245, 245, 245, 0.795);
  left: 75px;
  bottom: 40px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.enable {
  display: block;
}
