html {
  background-color: rgba(20, 20, 85, 0.918);
  font-family: 'Kalam', cursive;
}

/* fake canvas  */
#intro-screen {
  display: block;
}
#intro-screen2 {
  display: none;
}
#intro-screen3 {
  display: none;
}

.introscreen {
  z-index: 100;
  margin-top: -15px;
  margin-left: 16px;
  height: 800px;
  width: 1201px;
  background-color: rgb(0, 0, 0, 0.97);
}

.point-bottom-left {
  height: 250px;
  margin-left: 25px;
}

.point-bottom-right {
  height: 250px;
  float: right;
  margin-top: -50px;
  margin-right: 50px;
}

.point-top-right {
  float: right;
  height: 250px;
  margin-top: 60px;
  margin-right: 60px;
}

.intro-desc {
  color: white;
  margin-top: 110px;
  margin-left: 60px;
  font-size: 55px;
}

.intro-desc2 {
  color: white;
  text-align: right;
  margin-top: 310px;
  margin-right: 100px;
  font-size: 55px;
}

.intro-desc3 {
  color: white;
  text-align: right;
  margin-top: 350px;
  margin-right: 90px;
  font-size: 55px;
}

.continue {
  color: white;
  position: absolute;
  font-size: 48px;
  left: 35%;
  bottom: 60px;
}

.start {
  color: white;
  position: absolute;
  font-size: 48px;
  left: 38%;
  top: 180px;
}

.game-name {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: black;
  padding: 5px;
  font-size: 50px;
  background-color: rgba(233, 233, 96, 0.695);
  background-image: url(../img/wario-hat.png);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid rgb(0, 0, 0, 0.7);
}

.game-first-name {
  font-size: 85px;
  letter-spacing: 7px;
  color: rgb(97,92,255);
  padding-left: 90px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-text-stroke: 0.3px black;
}

.game-last-name {
  font-size: 85px;
  letter-spacing: 7px;
  color: rgb(97,92,255);
  padding-left: 200px;
  -webkit-text-stroke: 0.3px black;
}

/* class container display properties */
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* left side style properties */
.side-info-left {
  color: white;
  background-color: rgba(35, 35, 92, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 40px;
}

.game-title-banner {
  border: 3px solid rgb(0, 0, 0, 0.8);
  position: absolute;
  background-color: rgba(233, 233, 96, 0.85);
  padding-left: 10px;
  padding-top: 7px;
  line-height: 1;
  width: 275px;
  height: 440px;
}

.game-desc-title {
  color: rgb(21, 21, 86);
  font-weight: bold;
  font-family: 'Kalam', cursive;
  font-size: 36px;
  width: 100%;
  text-align: space-word;
  /* -webkit-text-stroke: 1px rgb(0, 0, 0, 1); */
}

.game-desc-title2 {
  text-align: center;
}

.game-desc-content {
  border: 2px solid rgb(0, 0, 0, 0.8);
  background-color: rgba(20, 20, 85, 0.918);
  margin-top: 80px;
  width: 265px;
  z-index: 1;
}

.game-desc {
  text-align: center;
  padding: 7px;
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.status {
  margin-top:100px;
  font-family: 'Roboto mono', monospace; 
  padding: 10px;
}

.version {
  font-family: 'Roboto mono', monospace; 
  text-align: left;
  margin-left: 3px;
}

/* right side style properties  */
.side-info-right {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  font-family: 'Kalam', cursive;
  height: 700px;
}

.game-controls-banner {
  width: 300px;
  margin-top: -80px;
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px;
  padding: 0px;
  border: 2px solid rgb(0, 0, 0, 0.8);
  margin-top: 115px;
  margin-right: 60px;
}

.game-control-title {
  color: rgb(97,92,255);
  border: 2px solid rgb(0, 0, 0, 0.8);
  font-weight: bold;
  text-align: center;
  background-color: rgba(233, 233, 96, 0.85);
  width: 100%;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-stroke: 0.5px white;
}

.horiz-desc {
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

.vert-desc {
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid rgba(245, 245, 245, 0.795);
  /* margin-right: 60px; */
  height: 250px;
  width: 250px;
}

.creator-banner {
  border: 3px solid rgba(245, 245, 245, 0.795);
  width: 300px;
  position: absolute;
  top: 605px;
  right: -15px;
  margin-right: 50px;
  margin-top: -80px;
}

.creator-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(97,92,255);
  background-color: rgba(233, 233, 96, 0.85);
  -webkit-text-stroke: 0.5px white;
}

.info {
  padding: 5px;
  padding-top: 45px;
  text-align: center;
}

.links-title {
  font-size: 24px;
  padding-left: 15px;
  text-decoration: underline;
}

.shortcut-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  padding-bottom: 10px;
}

#game-window {
  image-rendering: pixelated;
  display: flex;
  outline: rgba(245, 245, 245, 0.795) 3px solid;
  background-color: #33C3FF;
  width: 1200px;
  height: 800px;
  margin-top: 50px;
  position: absolute;
  top: 75px;
  left: 18.7%;
}

#volume-button {
  display: block;
  cursor: pointer;
  font-size: 20px;
  color: white;
  width: 100px;
  position: absolute;
  background: none;
  border: none;
  left: 10%;
  bottom: 30px;
  padding: 0;
}

#volume-button:hover {
  left: 10.2%;
  bottom: 32px;
}

#mute-button {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  width: 100px;
  position: absolute;
  background: none;
  border: none;
  left: 10.2%;
  bottom: 50px;
  padding: 0;
}

#mute-button:hover {
  left: 10.4%;
  bottom: 52px;
}

.mute-img {
  width: 60px;
  margin-left: 20px;
  padding-top: 20px;
}

.gg-canvas {
  display: none;
  position: absolute;
  width: 1200px;
  height: 800px;
  top: 125px;
  left: 18.7%;
  background-color: rgb(0, 0, 0, 0.8);
}

/* icons  */
.ico {
  height: 60px;
  padding-right: 3px;
  padding-top: 5px;
}

.fb-ico {
  height: 65px;
}

.ico2 {
  height: 56px;
  padding-top: 8px;
}

.facebook-ico {
  padding-top: 0px;
}

/* game over display message */
.gg-msg {
  text-align: center;
  width: 500px;
  height: 300px;
  font-family: 'Kalam', cursive;
  border: 5px solid rgba(245, 245, 245, 0.795);
  background-color: rgba(35, 35, 92, 0.781);
  display: none;
  padding: 50px;
  top: 39%;
  left: 37.5%;
  position: absolute;
  z-index: 999;
}

.gg-text {
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
}

.gg-button {
  align-self: center;
  color: rgb(97,92,255);  background-color: rgba(233, 233, 96, 0.795);
  border: 2px solid rgba(245, 245, 245, 0.795);
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-text-stroke: 0.5px white;
}

.gg-button:hover {
  background-color: rgba(233, 233, 96, 1);
  cursor: pointer;
}

/* level won display message */
.victory-canvas {
  display: none;
  position: absolute;
  width: 1200px;
  height: 800px;
  top: 125px;
  left: 18.7%;
  background-color: rgb(0, 0, 0, 0.8);
}

.victory-msg {
  text-align: center;
  width: 600px;
  height: 450px;
  font-family: 'Kalam', cursive;
  border: 5px solid rgba(245, 245, 245, 0.795);
  background-color: rgba(35, 35, 92, 0.781);
  display: none;
  padding: 25px;
  top: 30%;
  left: 35%;
  position: absolute;
  z-index: 999;
}

.email-label {
  color: white;
  font-size: 36px;
  padding: 5px;
  top: 10px;
}

.email-input {
  margin-top: 20px;
}

.victory-text {
  padding-top: 30px;
  color: white;
  font-size: 34px;
  line-height: 1.7;
}

.victory-button {
  position: absolute;
  color: rgb(97,92,255);
  background-color: rgba(233, 233, 96, 0.7);
  border: 2px solid rgba(245, 245, 245, 0.795);
  font-size: 28px;
  font-weight: bold;
  left: 340px;
  bottom: 40px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  -webkit-text-stroke: 0.5px white;
}

.victory-button:hover {
  background-color: rgba(233, 233, 96, 0.9);
}

.send-button {
  position: absolute;
  color: rgb(97,92,255);
  width: 180px;
  font-weight: bold;
  font-size: 28px;
  background-color: rgba(233, 233, 96, 0.75);
  border: 2px solid rgba(245, 245, 245, 0.795);
  left: 75px;
  bottom: 40px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-text-stroke: 0.5px white;
}

.send-button:hover {
  cursor: pointer;
  background-color: rgba(233, 233, 96, 0.9);
}

.enable {
  display: block !important;
}

.disable {
  display: none !important;
}
